<div class="main">
<h1> <%= @eatery.name %> </h1>

 <h3> List of Burgers </h3>
  <table>
     <% @menu_items.each do |menu_item| %>
    <tr> <td> <%= menu_item.burger.name %> </td>
    <td><%= menu_item.price %></td>



   <%end %>
 </table>

 <h3> List of Deals </h3>
  <ul>
 <% @eatery.deals.each do |deal| %>
   <li> <%= deal.name %> <%= deal.burger.name %> on <%= deal.day.name  %> </li>
   <%end %>
 </ul>
 </div>

 <div class="main">
   <h3> <a href="/eateries" > Go back to the list of eateries to edit </a> </h3>
