 <div class="main">
<h3> <%= @day.name %> deals</h3>

<% if @deals != [] %>
  <table>
  <tr>
    <th></th>
    <th> Deal Price</th>
    <th>Original Price </th>
    <th>You save </th>

  </tr>
  <% @deals.each do |deal| %>
  <tr>
    <td> <%= deal.name %> <a href= "/burgers/<%= deal.burger.id %>">  <%= deal.burger.name %> </a>
      at <a href = "/eateries/<%= deal.eatery.id %>"><%= deal.eatery.name %> </a></td>
      <td> <%= '£%.2f' % (deal.burger_price - deal.calculate_savings)%> </td>
      <td> <%= '£%.2f' % deal.burger_price %> </td>
      <td> <%= '£%.2f' % deal.calculate_savings %> </td>
      <td>
        <form method=post action="/deals/delete/<%=deal.class %>/<%= deal.id %>">
          <input type="submit" value="Delete Deal" />
        </form>
      </td>
      <td>
      <form method=get action="/deals/update/<%=deal.class %>/<%= deal.id %>">
        <input type="submit" value="Update" />
      </form>
    </td>
  </tr>
    <% end %>
  </table>
<% else %>
  <h3> There are currently no deals on <%= @day.name %> </h3>

<% end %>
</div>
<div class="main">
  <a href = "/deals/new"> Add a new deal (admin only) </a>
</div>
