``

<div class="main">

<h1 > Welcome to The Burger App!</h1>

<% if @deal != nil %>
  <h3> We have a special deal for you today </h3>

  <p id="special"> <%= @deal.name %> <a id=special href= "/burgers/<%= @deal.burger.id %>">  <%= @deal.burger.name %> </a>
  on  <%= @deal.day.name %> at <a id=special href = "/eateries/<%= @deal.eatery.id %>"><%= @deal.eatery.name %> </a></p>
  <p> <a href = "/deals"> See the rest.... </a> </p>
  <p> <a href = "/days"> Or search by day of the week </a> </p>

<% else %>

  <h3> There are no active deals </h3>
  <h3> <a href="/deals/new_deal"> You can add one here </a> </h3>

<% end %>

<p style='font-size: 10px'> P.S. We are not responsible for any indigestion caused by eating too many burgers </p>
</div>
